.board {
  position: relative;
  width: 528px;
  height: 528px;
  margin: auto;
  border: 0.5rem solid #333;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.black, .white {
  float: left;
  width: 64px;
  height: 64px;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}
.black {
  background-color: #999;
}
.white {
  background-color: #fff;
}

.last {
  background-color: rgb(255, 243, 136) !important;
}

.check {
  background-color: rgb(255, 73, 73) !important;
}

.valid {
  background-color: rgb(103, 255, 240) !important;
}

.coord-numbers {
  position: relative;
  top: -0.5rem;
  left: 2rem;
  height: 528px;
  z-index: 10000;
  color: rgb(72, 6, 110);
  font-weight: bold;
}

.coord-letters {
  position: relative;
  left: 1rem;
  top: -3.2rem;
  width: 528px;
  z-index: 10000;
  color: rgb(72, 6, 110);
  font-weight: bold;
}

.dot-elastic {
  position: relative;
  width: 6px;
  height: 6px;
  top: -5px;
  border-radius: 5px;
  background-color: blueviolet;
  color: blueviolet;
  animation: dotElastic 1.5s infinite linear;
}

.dot-elastic::before, .dot-elastic::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: blueviolet;
  color: blueviolet;
  animation: dotElasticBefore 1.5s infinite linear;
}

.dot-elastic::after {
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: blueviolet;
  color: blueviolet;
  animation: dotElasticAfter 1.5s infinite linear;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
