.board {
  width: 528px;
  height: 528px;
  margin: auto;
  border: 0.5rem solid #333;
}
.black, .white {
  float: left;
  width: 64px;
  height: 64px;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}
.black {
  background-color: #999;
}
.white {
  background-color: #fff;
}

.coord-letter {
  width: 64px;
  height: 64px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin: auto;
  text-align: center;
  float: left;
}

.coord-number {
  width: 64px;
  height: 64px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin: auto;
  text-align: center;
  float: middle;
}

.letter-coords {
  justify-content: center;
  width: 528px;
  margin: auto;
}

html {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.last {
  background-color: rgb(255, 236, 69);
}

.check {
  background-color: rgb(255, 0, 0);
}

.valid {
  background-color: turquoise;
}

.dot-elastic {
  position: relative;
  width: 6px;
  height: 6px;
  top: -5px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: dotElastic 1.5s infinite linear;
}

.dot-elastic::before, .dot-elastic::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: dotElasticBefore 1.5s infinite linear;
}

.dot-elastic::after {
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: dotElasticAfter 1.5s infinite linear;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
